body {
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    color: #40514E;
}

h1 {
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
font-family: 'Monsterrat', sans-serif;
color: #66BFBF;
font-weight: normal;
font-size: 2rem;
padding-right: 10px;
}

h3 {

    font-family: 'Monsterrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;

}

a {
    color: #11999E;
    font-family: 'Monsterrat', sans-serif;
    margin: 10px 20px;

}

a:hover {
    color: #EAF6F6;

}

hr {
    border: dotted #848686 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.topContainer {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 1px;
    padding-bottom: 0px;
}

.middle-container{
    margin: 0x 0;

}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}

.bottomContainer{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}
.topCloud {
    position: absolute;
    right: 300px;
    top: 0px;
}

.bottomCloud {
    position: absolute;
    left: 250px;
    bottom: 300px;

}

.profile2{
    position: relative;
    width: 50%;
    
    }

.profile {
    padding-top:0px;

}

.code {
    font-size: 30px;
}
   
.student {
text-decoration: underline;
font-size: 30px;
}
    


.robotics {
    
    width: 25%; 
    float: right;
    margin-left: 30px;
}

.skillsCoding {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.skillsMinecraft {
    
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    

}



.lol {
color: #EAF6F6;

}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.BUTTON_XEO {
    margin-bottom: 30px;
    background: #11CDDC;
    background-image: -webkit-linear-gradient(top, #11CDDC, #11999E);
    background-image: -moz-linear-gradient(top, #11CDDC, #11999E);
    background-image: -ms-linear-gradient(top, #11CDDC, #11999E);
    background-image: -o-linear-gradient(top, #11CDDC, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDDC, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_XEO:hover {
    border: solid #337FED 1px;
    background: #30E3BC;
    background-image: -webkit-linear-gradient(top, #30E3BC, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3BC, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3BC, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3BC, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3BC, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.hello {
    font-size: 30px;

}

.hello1 {
    font-size: 20px;

}