body {
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;

}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {

font-family: 'Monsterrat', sans-serif;
}

h3 {

 font-family: 'Monsterrat', sans-serif;
}

.topContainer {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

}

.middle-container{
    

}

.bottomContainer{

    

}

.student {
text-decoration: underline;

}

.bottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile {
position: relative;
border-radius: 50%;
border: black;
width: 50%;
height: 50%;
}

.skillsCoding {
width: 20%;
height: 20%;

}

.robotics {

   width: 20%; 
    height: 20%;
}

